table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin-bottom: 100px;
}
table td {
	padding: 15px;
}
table thead {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 12pt;
	border: 1px solid #54585d;
	padding: 10px;
}
th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 15pt;
	border: 1px solid #54585d;
	padding: 10px;
}
span.developpable * {
	vertical-align: middle;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}

#titlebox {
	display: inline-block;
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 40pt;
}

#doctitle {
	display: inline-block;
	font-size: 35pt;
	margin-bottom: 2pt;
}

#docsubtitle {
	margin-top: 3pt;
	display: block;
	text-align: left;
	margin-left: 20pt;
}

#main-content-holder {
	display: inline-block;
}

/*
#main-content-holder > * {
	display: block;
}
*/

.leftaligned {
	text-align: left;
}

.txtniveau {
	padding: 10px;
	border-radius: 5px;
	color: white;
    text-align:center;
}

.clrniveau0 {
	background-color: #FF5C5C;
}
.clrniveau0bg {
	background-color: #FFD6D6;
}

.clrniveau1 {
	background-color: #E7BA58;
}
.clrniveau1bg {
	background-color: #FAF0DB;
}

.clrniveau2 {
	background-color: #A3C866;
}
.clrniveau2bg {
	background-color: #EDF4E1;
}

.clrniveau3 {
	background-color: #5ED674;
}
.clrniveau3bg {
	background-color: #DFF7E3;
}

.clrniveau4 {
	background-color: #5BA46B;
}
.clrniveau4bg {
	background-color: #E5F1E7;
}


/*
	Animation & développement des principales lignes du tableau
*/

tr.hidden-aff-row, tr.hidden-aff-row * {
	visibility: collapse;
	max-height: 0;
	height: 0;
	padding: 0 10px;
	box-sizing: border-box;
	overflow: hidden;
	transition: max-height 0.3s, padding 0.3s;
}

tr.shown-aff-row, tr.shown-aff-row * {
	visibility: visible;
	max-height: auto;
	height: auto;
	padding: 10px 10px;
	transition: max-height 0.6s, padding 0.6s;
}

.developpable {
	cursor: pointer;
	user-select: none;
}

@keyframes addRow {
  0% {
    transform: scale(1, 0);
    line-height: 0px;
    visibility: collapse;
  }
  50% {
    transform: scale(1, 1);
    /* font-size(16px) + border-top(1px) + border-bottom(1px) */
    visibility: visible;
  }
  100% {
  	 /*line-height: auto;*/
  }
}

.affsgroup {
	width: 100%;
}